body {
    background-image: url("https://img.freepik.com/vector-gratis/extracto-fondo-crepuscular-puesta-sol-tiempo-tarde_38782-544.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.container {
    width: fit-content
}

.title{
    color: white;
    font-family: Bahnschrift, serif;

}

.card {
    margin: 1rem;
    border-color: rgba(238, 237, 237, 0.438);
    box-shadow: 5px 8px 10px #80808033;
    color: rgba(233, 230, 242, 0.995);
    text-align: center;
    border-color: black;
    border-radius: 1em;
    border-width: 0.4em;
}


.carousel-indicators li {
    width: 5px;
    height: 6px;
    border-radius: 100%;
    opacity: 0.2;
    background-color: #000000
}

.carousel-indicators {
    margin-bottom: 0
}

.temp {
    font-size: 4rem;
    color: black;
}

.card-1 {
    padding: 1.2rem 3rem 1rem 3rem;
    margin: 1rem;
    box-shadow: 5px 8px 10px #80808033;
    color: rgba(233, 230, 242, 0.995);
    text-align: center;}

.location {
    margin-bottom: 1.5rem;
    color: black;
}


.img-fluid {
    float: right;
    width: 65%;
    display: flex;
    align-items: center
}

.row2 .img-fluid {
    margin: 10% 0;
    width: 40%
}

.card-2 .row {
    justify-content: center
}

.card-3 .row {
    justify-content: center
}

.row1 {
    font-size: 0.7rem;
    font-weight: bold;
    color: black
}

.row3 {
    font-size: 0.9rem;
    font-weight: bold;
    color: black
}

.row4 {
    font-size: 0.6rem;
    color: rgb(196, 196, 196);
    margin: 5% 0 2.5rem;
}


.col {
    overflow: visible
}

.row {
    overflow: visible
}

.textoTemp{
    color: black;
}
.form-control{
    border-color: green;
    border-width: 0.3em;
}