<template>
  <section>
    <div class="row pl-2">
      <div class="col-6">
        <label>
          <select class="form-control" v-model="selectedCity">
            <option v-for="ciutat in llistaCiutats" v-bind:key="ciutat">{{ciutat}}</option>
          </select>
        </label>
      </div>
    </div>
    <WeatherNow v-bind:ciudad-selecionada=selectedCity></WeatherNow>
    <WeatherFuture v-bind:ciudad-selecionada=selectedCity></WeatherFuture>
  </section>
</template>

<script>
import WeatherNow from "@/components/TiempoActual";
import WeatherFuture from "@/components/Proximos";

export default {
  name: "InfoMeteo",
  props: {
    llistaCiutats: Array,
    continentes: Array,
  },
  data(){
    return {
      selectedCity: this.llistaCiutats[0]
    }
  },
  mounted: function (){
    return{
      selectedCity:this.llistaCiutats[0]
    }
  },
  components: {
    WeatherNow,
    WeatherFuture
  }
}
</script>

<style scoped>

</style>